package view

templ NotFound(message string) {
	@boiler("Not Found") {
		<div id="notfound">
			<div>
				<h1>404</h1>
				if message != "" {
					<p>{ message }</p>
				} else {
					<p>Not Found</p>
				}
				<a href={ templ.URL("/") }>{ "<- return home" }</a>
			</div>
		</div>
	}
}
